
@import url(bootstrap/css/bootstrap.css);
body{
	background-color: #33658A;
}
.row-fluid ul {
    display: block;
    list-style-type: none;
    margin-top: 0em;
    margin-bottom: -200em;
    margin-left: 0px;
    margin-right: 0px;
	background-color: #FFFFFF;
    border: 3px solid #458F55;
	border-style:outset;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	font-size:22px;
}
.row-fluid ul a{
	color: #5e5e5e;
}
.row-fluid ul a:hover,
.row-fluid ul a:focus {
  color: #005580;
  text-decoration: underline;
}

.CA-box{
	display: block;
	float: center;
	text-align: left;
	background-color: #FFFFFF;
	border: 3px solid #458F55;
	font-size: 20px;
	width: 100%;
}

.CA-box2 div{
	float: left;
    width: 180px;
	height: 280px;
    padding: 0 4px;
    text-align: left;
    margin-left: 51px; 
	margin-right:0.1%; 
    line-height: 2.0;
	font-size: 13px;
}
.CA-box2 a{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.a img{
	width:100%;
	height:50%;
}
/* 上述為中間熱門作品的css設定，下述為功能列按鈕設定 */
.headerbutton{
  position: relative;
  display:inline-block;
  width:12%;
  height:5%;
  padding: 0.3%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  border: 1px solid black;
  background-color:#2F4858;
  font-family:微軟正黑體;
  font-size: 15px;
  color: white;
  transform: skew(-30deg);
  letter-spacing:2px;
  opacity: 0.7;
}

#headdiv{
  margin:1.5%;
}


.headerbutton:hover{
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
  opacity: 1;
  cursor: pointer;
}

.headerbutton div{
    transform: skew(30deg);
}


#headimg{
  height:500px;
  width:100%;
}

#logoarea1{
  position: absolute;
  top:-12%;
  left:0%;
  height:300px;
  width:400px;
  background-image:url('http://i.imgur.com/2jAzxEb.png');
  background-repeat:no-repeat;
  background-size:95%;
  z-index: 50; 
}

#logoarea2{
  position: absolute;
  top:6%;
  left:6.8%;
  height:300px;
  width:400px;
  background-image:url('http://i.imgur.com/GgBMHRn.png');
  background-repeat:no-repeat;
  background-size:33%;
  z-index: 50; 
}
/* 個人圖像 NAV*/
.imgArea {
	width: 150px;
	height: 150px;
	margin: 0px;
	display: inline-block;
}

.navbar{
	position: relative;
	width:50%;
	display: inline-block;
}

/*個人檔案*/
.personal-Info{
	width: 150px;
	display: inline-block;
	
}
.personal-idx-img{
	border-style:none;
	width: 100%;
	display: inline-block;
	height: 100px;
	position: relative;

}

.img{
	width:100px;
	height:200px;
	background-size:cover;
	background-position:top center;
}

#searchbox{
  margin-left:4%;
}

#searchtitle{
  margin-top:2%;
  margin-bottom:0.5%;
  margin-left:4%;
  font-family: 微軟正黑體;
  cursor: wait; 
}

#functionbox{
  position:absolute;
  width:60%;
  margin-top:0.5%;
  margin-left:47%;
  z-index: 50; 
}

.logininfo{
  position: relative;
  width:40%;
  height:5%; 
  margin-left: 5%;
  padding: 0.3%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2%;
  border: 1px solid black;
  background-color:#2F4858;
  font-family:微軟正黑體;
  font-size: 15px;
  color: white;
  letter-spacing:2px;
  opacity: 0.7;
  text-decoration:underline;
}




#registericon{
   margin-left: 20%;
}


.logininfo:hover{
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
  opacity: 1;
  cursor: pointer;
}

#registericon{
  margin-left: 12%;
  margin-top:1.5%;
}


#headerinfo{
  position: absolute;
  display:inline-block;
  left:78%;
  width:7.5%;
  padding: 0.3%;
  padding-left: 0.5%;
  padding-right: 0%;
  border: 1px solid black;
  background-color:#2F4858;
  font-family:微軟正黑體;
  font-size: 15px;
  color: white;
  transform: skew(-30deg);
  letter-spacing:2px;
}

