
@import url(bootstrap/css/bootstrap.css);
body{
	background-color: #33658A;
}
.row-fluid ul {
    display: block;
    list-style-type: none;
    margin-top: 0em;
    margin-bottom: -200em;
    margin-left: 0px;
    margin-right: 0px;
	background-color: #FFFFFF;
    border: 3px solid #458F55;
	border-style:outset;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	font-size:22px;
}
.row-fluid ul a{
	color: #5e5e5e;
}
.row-fluid ul a:hover,
.row-fluid ul a:focus {
  color: #005580;
  text-decoration: underline;
}

.CA-box{
	display: block;
	float: center;
	text-align: left;
	background-color: #FFFFFF;
	border: 3px solid #458F55;
	font-size: 20px;
	width: 100%;
}

.CA-box2 div{
	float: left;
    width: 180px;
    padding: 0 4px;
    text-align: left;
    margin-left: 51px; 
	margin-right:0.1%; 
    line-height: 2.0;
	font-size: 13px;
}
/* 上述為中間熱門作品的css設定，下述為功能列按鈕設定 */
.headerbutton{
  position: relative;
  width:350px;
  top: 0px;
  left: 50px;
  padding: 0.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-left:-0.1%;
  margin-right:-0.1%;
  border: 1px solid black;
  background-color:#2F4858;
  font-family:微軟正黑體;
  color: white;
  transform: skew(-30deg);
  letter-spacing:2px;
}

#headdiv{
  margin:1.5%;
}


.headerbutton:hover{
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
}

.headerbutton div{
    transform: skew(30deg);
}

.circle_in_black{
    z-index:100;
    position:absolute;
    width:40px;
    height:40px;
    border-radius:99em;
    background-color:rgba(0, 0, 0, 0.5);
}

#headimg{
  height:500px;
  width:100%;
}

#logoarea1{
  position: absolute;
  top:-12%;
  left:0%;
  height:300px;
  width:400px;
  background-image:url('http://i.imgur.com/2jAzxEb.png');
  background-repeat:no-repeat;
  background-size:95%;
  z-index: 50; 
}

#logoarea2{
  position: absolute;
  top:6%;
  left:6.8%;
  height:300px;
  width:400px;
  background-image:url('http://i.imgur.com/GgBMHRn.png');
  background-repeat:no-repeat;
  background-size:33%;
  z-index: 50; 
}
/* 個人圖像 NAV*/
.imgArea {
	width: 150px;
	height: 150px;
	margin: 0px;
	display: inline-block;
}
.imgAndNav{
	display: inline-block;
	width: 100%;
}
.navbar{
	position: relative;
	left: 88px;
	width:50%;
	margin: 0px;
	display: inline-block;
	border-style:solid;
}
.navv {
	margin-left: 100px;
}
/*個人檔案*/
.personal-Info{
	width: 35%;
	display: inline-block;
	border-style:solid;
}
.personal-idx-img{
	width: 20%;
	display: inline-block;
	height: 100px;
	position: relative;
	top: -100px;

}